body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: rgb(78, 223, 78);
}

.create-form {
	display: none;
}

.ab-center {
	position: absolute;
	top: 50%;
	left: 50%;
}

.login-buttons {
	width: 165px;
	margin-left: -82.5px;
	margin-top: -15px;
}

.rooms {
	width: 300px;
	height: 500px;
	margin-left: -150px;
	margin-top: -250px;
	background: white;
}

.createRoom {
	border: 2.5px solid black;
	font-size: 24px;
	background: white;
	padding: 40px;
}